@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Applies font smoothing globally for better text rendering */
@layer base {
  body {
    @apply antialiased;
  }
}

body {
  background-color: #FFFDFD;
}


@keyframes wave-path {
  0%, 100% {
    d: path("M0,5 Q25,0 50,5 T100,5");
  }
  50% {
    d: path("M0,5 Q25,10 50,5 T100,5");
  }
}