@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Applies font smoothing globally for better text rendering */
@layer base {
  body {
    @apply antialiased;
  }
}
